{% extends 'admin/master.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}
{{ super() }}
<div class="row-fluid">

    <div>
        {% if current_user.is_authenticated %}

        <h2>Welcome to the Admin Interface</h2>
        {% else %}
        <form class="form" role="form" method="post" action="">

            {{ form.csrf_token }}
            {{ form.hidden_tag() }}
            {{ wtf.form_errors(form, hiddens="only") }}


            <div class="col-lg-4 col-sm-4">

                {{ wtf.form_field(form.username) }}
                {{ wtf.form_field(form.password) }}

                <button class="btn btn-success" type="submit">Submit</button>
            </div>
        </form>


        {{ link | safe }}
        {% endif %}
    </div>
</div>
{% endblock %}
